<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="ecoredocgen.incquery.eCoreDocumentation"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="ecoredocgen.incquery.util.ECoreDocumentationQuerySpecification$Provider"
            id="ecoredocgen.incquery.eCoreDocumentation">
      </matcher>
   </extension>
   <extension
         id="ecoredocgen.incquery.missingEcoreDocumentation"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="ecoredocgen.incquery.util.MissingEcoreDocumentationQuerySpecification$Provider"
            id="ecoredocgen.incquery.missingEcoreDocumentation">
      </matcher>
   </extension>
   <extension
         id="ecoredocgen.incquery.missingEcoreDocumentation_EClass"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="ecoredocgen.incquery.util.MissingEcoreDocumentation_EClassQuerySpecification$Provider"
            id="ecoredocgen.incquery.missingEcoreDocumentation_EClass">
      </matcher>
   </extension>
   <extension
         id="ecoredocgen.incquery.missingEcoreGenDocumentation_EPackage"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="ecoredocgen.incquery.util.MissingEcoreGenDocumentation_EPackageQuerySpecification$Provider"
            id="ecoredocgen.incquery.missingEcoreGenDocumentation_EPackage">
      </matcher>
   </extension>
   <extension
         id="ecoredocgen.incquery.zeroLengthEcoreGenDocumentation"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="ecoredocgen.incquery.util.ZeroLengthEcoreGenDocumentationQuerySpecification$Provider"
            id="ecoredocgen.incquery.zeroLengthEcoreGenDocumentation">
      </matcher>
   </extension>
   <extension
         id="ecoredocgen.incquery.zeroLengthEcoreGenDocumentation"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="ecoredocgen.incquery.util.ZeroLengthEcoreGenDocumentationEvaluator1_1"
            id="ecoredocgen.incquery.zeroLengthEcoreGenDocumentation_1_1">
      </evaluator>
   </extension>
   <extension
         id="ecoredocgen.incquery.tooShortEcoreGenDocumentation"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="ecoredocgen.incquery.util.TooShortEcoreGenDocumentationQuerySpecification$Provider"
            id="ecoredocgen.incquery.tooShortEcoreGenDocumentation">
      </matcher>
   </extension>
   <extension
         id="ecoredocgen.incquery.tooShortEcoreGenDocumentation"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="ecoredocgen.incquery.util.TooShortEcoreGenDocumentationEvaluator1_1"
            id="ecoredocgen.incquery.tooShortEcoreGenDocumentation_1_1">
      </evaluator>
   </extension>

</plugin>
