<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="hu.bme.mit.documentation.ecore.ui.handlers.GenerateEcoreDocLatex"
            id="hu.bme.mit.documentation.ecore.ui.generatedoc.latex"
            name="Generate Latex Documentation">
      </command>
      <command
            defaultHandler="hu.bme.mit.documentation.ecore.ui.handlers.GenerateEcoreDocHTML"
            id="hu.bme.mit.documentation.ecore.ui.generatedoc.html"
            name="Generate HTML Documentation">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any">
         <command
               commandId="hu.bme.mit.documentation.ecore.ui.generatedoc.html"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="hu.bme.mit.documentation.ecore.ui.ecoredef">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="hu.bme.mit.documentation.ecore.ui.generatedoc.latex"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="hu.bme.mit.documentation.ecore.ui.ecoredef">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="hu.bme.mit.documentation.ecore.ui.ecoredef">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false">
                  <adapt
                     type="org.eclipse.core.resources.IFile">
                  <test
                        property="org.eclipse.core.resources.name"
                        value="*.ecore">
                  </test>
               </adapt>
            </iterate>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="hu.bme.mit.documentation.ecore.ui.category"
            class="hu.bme.mit.documentation.ecore.ui.views.EcoreDocView"
            id="hu.bme.mit.documentation.ecore.ui.ecoredoc"
            name="Ecore Documentation"
            restorable="true">
      </view>
      <category
            id="hu.bme.mit.documentation.ecore.ui.category"
            name="Ecore Documentation Generator">
      </category>
   </extension>
</plugin>
